.table_wrapper {
    padding-left: 1.25rem;
    border-radius: 0.125rem;
    padding-right: 1.25rem;
    padding-bottom: 0.625rem;
    padding-top: 1.5rem;
    border-width: 1px;
    background-color: #ffffff;
  }
  
  .table-heading_wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .table_heading {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    border-radius: 0.125rem;
    background-color: #f7f9fc;
    /* background-color: #000000; */
  }
  
  .table_heading_col_wrapper {
    padding: 1rem;
  }
  .hidden.table_heading_col_wrapper {
    display: none;
  }
  .hidden {
    display: none;
  }
  .text_center {
    text-align: center;
  }
  
  .table_heading_header {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  [alt='Brand']{
      width:40px;
      height: 40px;
      border-radius: 50%;
  }
  .table_heading_header_cont {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color:#64748b
    /* color:#ffffff; */
  }
  .table_list_content {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .bottom_border {
    border-bottom: solid 1px rgb(226 232 240) ;
  }
  .brand_logo_wrapper {
    display: flex;
    padding: 0rem 1rem;
    gap: 0.75rem;
    align-items: center;
  }
  .brand_name {
    color: #000000;
  }
  
  .brand_visitor_revenue {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
  }
  .brand_visitor_revenue > p {
    text-align: center;

  }
  .inspector_title{
      font-size: 26px;
      line-height: 30px;
      color:#343C6A;
      margin-top: 3rem;   
      text-align: center;
    }
  
    .year_selector{
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: center;
      gap:2rem;
      padding: 5px 1.5rem;
      margin: 1rem ;
    }
    .year_selector > select{
      padding : 10px 15px;
      background-color: white;
      border: 0px;
      border-radius: 5px;

    }
  @media (min-width: 640px) {
    .table_heading {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .hidden.table_heading_col_wrapper {
      display: block;
    }
    .table_list_content {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
  
  .inspector_details{
    background-color: transparent;
    border-radius: 10px;
    border:1px solid #718EBF;
    color:#718EBF;
    padding:3px 7px;
    cursor: pointer;
  }
  
  @media (min-width: 1280px) {
    .brand_logo_wrapper {
      /* padding: 1.25rem; */
    }
    .brand_name {
      display: block;
    }
    .brand_visitor_revenue{
      padding: 1.25rem; 
    }
  }
  

  .detailed_fir_bg_wrapper{
    background-color:white;
    padding: 1rem;
  }

  .detailed_fir_container{
    display: grid;
    /* grid-template-columns: repeat(12,minmax(0,1fr)) */
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  }
  .detailed_fir_cont{
    display: flex;
    flex-direction: column;
  }
  .fir_col_heading{
    padding :10px 15px;
  }
  .fir_col_content{
    padding :10px 15px;
    color : rgba(9, 69, 166, 0.74);
    background-color: #f7f9fc;
    border-radius: 5px;
  }
