.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    padding-right: 2rem;
    background-color:#eef2f6;
    overflow-x: hidden;
    .bottom{
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;

    }
}