/* src/App.css */
.App {
    text-align: center;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid var(--border-stoke);
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--border-stoke);
  }
  
  th {
    background-color: #f2f2f2;
    background-color: #eef2f6;
    color: #64748b;
    background-color: var(--PrimaryBlue);
    color:white;
  }
  
  td {
    background-color: #ffffff;
    height: 100px;
  }
  
  td:hover {
    background-color: #f1f1f1;
  }

  .add_btn_wrapper{
    display: flex;
    justify-content: end;
    margin-top:auto;
    position: absolute;
    bottom:5px;
    right: 5px;
  }
  
  .duty_cell{
    /* display: flex; */
    position: relative;
    padding-bottom: 30px;
  }
  .assigned_officer_cell{
    color:#077FFF; 
  }


  .PS_selector{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap:2rem;
    padding: 5px 1.5rem;
    margin: 1rem ;
  }
  .PS_selector > select{
    padding : 10px 15px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
  }